@use "../utils/variables";

header {
  display: flex;
  margin: 2.5rem 4rem;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    margin: 1rem;
  }
}

.logo {
  max-height: 60px;
  @media screen and (max-width: 768px) {
    height: 40px;
    min-width: 125px;
  }
}

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
  @media screen and (max-width: 768px) {
    gap: 0.3rem;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  @media screen and (max-width: 350px) {
    flex-wrap: wrap;
  }
}

a {
  text-decoration: none;
  color: variables.$color-primary;
  padding: 5px;

  &.active {
    text-decoration: underline;
  }
}

.activePage {
  text-decoration: underline;
}
