@media screen and (max-width: 768px) {
  .cover {
    height: 111px;
    width: 94%;

    > h1 {
      font-size: 1.5rem;
      padding: 1rem;
      text-align: left;
      line-height: 100%;
    }
  }

  .cards {
    width: 96%;

    &__thumbnail {
      margin: 0.7rem;
      height: 255px;
      width: 17rem;
    }
  }
}

@media screen and (max-width: 670px) {
  .cards {
    width: 96%;

    &__thumbnail {
      margin: 0.5rem;
      width: 98%;
    }
  }
}
