@use "../utils/variables";

h1 {
  font-weight: 500;
  font-size: 2rem;
  @media screen and (max-width: 768px) {
    font-size: 1.1rem;
  }
}

h2 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
  @media screen and (max-width: 768px) {
    font-size: 0.9rem;
  }
}

.flat {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  @media screen and (max-width: 768px) {
    font-size: 0.6rem;
  }

  width: 90%;
  height: 150px;
  margin: variables.$center;

  @media screen and (max-width: 768px) {
    display: block;
  }

  &__details {
    width: 75%;

    @media screen and (max-width: 768px) {
      width: 90%;
    }
  }

  &__tags {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    gap: 0.6rem;
  }

  &__tagTxt {
    width: 115px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 0.7rem;
    color: white;
    background-color: variables.$color-primary;
    border-radius: variables.$radius10;
  }

  &__profile {
    text-align: right;
    width: 25%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }

    &--infos {
      display: flex;
      justify-content: flex-end;
      font-size: 0.75rem;

      @media screen and (max-width: 768px) {
        width: 50%;
      }

      & .picture {
        margin-left: 0.3rem;
        min-width: 64px;
        min-height: 64px;
        border-radius: 50%;
        @media screen and (max-width: 768px) {
          max-width: 64px;
          max-height: 64px;
        }

        > img {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
    &--ratings {
      display: block;
      margin-top: 15px;
      @media screen and (max-width: 768px) {
        text-align: left;
        margin: 0;
      }
    }
  }
}

.infos {
  display: flex;
  margin: variables.$center;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    display: block;
  }

  &__description {
    width: 50%;
  }

  &__equipment {
    width: 50%;
  }
}
