@use "./utils/variables";

@import url(layouts/_home.scss);
@import url(layouts/_about.scss);
@import url(layouts/_flatDetails.scss);
@import url(layouts/_errorPage.scss);

@import url(layouts/responsive/_home.scss);
@import url(layouts/responsive/_about.scss);
@import url(layouts/responsive/_flatDetails.scss);
@import url(layouts/responsive/_errorPage.scss);

@import url(components/_header.scss);
@import url(components/_footer.scss);
@import url(components/_ratings.scss);
@import url(components/_slideshow.scss);
@import url(components/_collapse.scss);

@import url(components/responsive/_header.scss);
@import url(components/responsive/_collapse.scss);
@import url(components/responsive/_slideshow.scss);
@import url(components/responsive/_footer.scss);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: variables.$color-primary;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul li {
  list-style: none;
}
