.error {
  text-align: center;
  font-size: 1rem;

  &__code {
    font-weight: 700;
    font-size: 16em;
  }

  &__txt {
    font-weight: 500;
    font-size: 2em;
  }

  &__link {
    font-weight: normal;
    font-size: 1em;
    line-height: 10em;
    text-decoration: underline;
  }
}
