@use "../utils/variables";

h1 {
  font-weight: 500;
  font-size: 2rem;
}

h2 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
}

.flat {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  flex-wrap: nowrap;

  &__details {
    width: 75%;
  }

  &__tags {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    gap: 0.6rem;
  }

  &__tagTxt {
    width: 115px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 0.7rem;
    color: white;
    background-color: variables.$color-primary;
    border-radius: variables.$radius10;
  }

  &__profile {
    width: 25%;

    &--infos {
      display: flex;
      gap: 0.3rem;
      align-items: center;
      justify-content: flex-end;
      font-size: 1rem;
      &--infos::after {
        content: "";
        display: block;
        clear: both;
      }

      & .picture {
        margin-left: 0.3rem;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        > img {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          float: right;
          shape-outside: margin-box;
          object-fit: cover;
        }
      }
    }
    &--ratings {
      display: block;
      text-align: right;
      margin: 15px 0;
    }
  }
}

.accommodations {
  display: flex;
  gap: 0.2rem;
  margin: 20px auto;
  width: 95%;
  justify-content: space-between;
}
