@use "../utils/variables";

.cover {
  position: relative;
  text-align: center;
  width: 90%;
  height: 225px;
  margin: 20px auto;

  > h1 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
  }

  &__img {
    object-fit: cover;
    border-radius: variables.$radius25;
    width: 100%;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  border-radius: variables.$radius25;

  &__thumbnail {
    position: relative;
    height: 320px;
    width: 320px;
    margin: 1.2rem;
    padding: 0;
    border-radius: variables.$radius10;
    color: white;
    transition: all 0.5s ease;

    &:hover {
      box-shadow: 0 5px 15px #000000;
      transform: scale(1.05);
    }
  }

  &__title {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    text-align: left;
    background: rgb(255, 96, 96);
    background: linear-gradient(
      180deg,
      rgba(255, 96, 96, 0) 0%,
      rgba(255, 96, 96, 0) 55%,
      rgba(128, 128, 128, 1) 95%
    );
    border-radius: 0 0 10px 10px;

    &--txt {
      position: absolute;
      bottom: 0;
      left: 0rem;
      margin: 10px;
      color: white;
      font-size: 1.1rem;
    }
  }

  &__img {
    background-repeat: no-repeat;
    margin: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: variables.$radius10;
  }
}
